
:root{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    --verydkmag: hsl(300, 43%, 22%);
    --softpink: hsl(333, 80%, 67%);
    --dkgraymag: hsl(303, 10%, 53%);
    --ltgeaymag:  hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background: var(--white);
}

h1,h3{
    color: var(--verydkmag);
}

h1{
    font-weight: 700;
    margin-bottom: 33px;
    font-size: 42px;
    padding: 0;
    margin-top: 30px;
}

h3{
    font-weight: 700;
    margin:0;
}

p{
    line-height: 1.7;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .container {
        padding: 100px;
        text-align: left;
        justify-content: space-between;
    }
  } 
  

.header{
    margin-top: 80px;
    margin-bottom: 30px;
}

.header p{
    color: var(--dkgraymag);
}

  
/*  Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) { 
    .header{
        width: 450px;
        margin: 0 0 75px 0;
        text-align: left;

    }
   
  } 

.rating{
    width: 328px;
    margin-bottom: 50px;

}

.rating .__rate{
    height: 50px;
    width: 315px;
    background: var(--ltgeaymag);
    padding: 17px 0;
    border-radius: 8px;
}

.rating .__rate{
    margin-bottom: 18px;
}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width:600px) {
    .rating {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: none;
    }

    .rating .__rate{
        width: 30%;
    }

  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .rating{
        margin: 50px 0 0 20px;
        display: block;
        width: initial;
        }

    .rating .__rate{
        padding: 0 10px 0 10px;
        display: flex;
        align-items: center;
        width: initial;
        }

    .rating .__rate .stars{
        margin-right: 10px;
        margin-bottom: 0;
        }

    .first,
    .second,
    .third{
        position:relative;
    }

    .first{ 
        right: 250px;
    }
    .second{
        right: 125px;
        
    }
} 

.stars{
    margin-bottom: 10px;

}

.stars span{
    background-image: url("../images/icon-star.svg");
    display: inline-block;
    width: 15px;
    height: 15px; 
    margin-right: 5px;
}

.rating .__rate h3{
    font-size: 12px;
}

.testimonial{
    text-align: left;
    padding: 0 15px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .testimonial{
        display: flex;
    }
    
}

.testimonial .__snippet{
    background: var(--verydkmag);
    padding: 44px 33px;
    margin-bottom: 16px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 22px 20px auto; 
    grid-template-areas: 
    "img name"
    "img verified"
    "notes notes"

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .__snippet:not(:last-child){
        margin-right: 30px;
    }

    .one,
    .two,
    .three{
        position: relative;
    }

    .two{
        top: 16px;

    }
    .three{
        top: 32px;

    }
    
}

.testimonial .__snippet img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;

    grid-area: img;
}

.testimonial .__snippet .__name{
    margin: 0 0 0 23px;

    grid-area: name;
}

.testimonial .__snippet .__verified{
    color: var(--softpink);
    margin: 0 0 0 23px;

    grid-area: verified;
}

.testimonial .__snippet .__notes{
    padding-top: 34px;
    margin: 0;

    grid-area: notes;
}

.testimonial .__snippet .__name, 
.testimonial .__snippet .__notes{
    color: var(--white);
}

.attribution{
    background: rgb(255, 212, 229);
    padding: 10px;
    margin-top: 30px;
}



    